<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          
          <div class="row">
            <div class="left">
              <img style="margin-top:25px" src="img/profile.jpg">
              <h1 class="text-center" style="margin-bottom: 0;">{{site.title}}</h1>
              <p style="margin-top:0; font-size: smaller;">최시원</p>
              <p style="margin-top:0; font-size: smaller;">CIS PhD @ UPenn</p>
              <div class="hero-buttons">
                <a href="mailto:seewon@seas.upenn.edu"><button><i class="fa fa-envelope"></i></button></a>
                <a href=https://scholar.google.com/citations?user=TmtxOw0AAAAJ&hl=en&authuser=2><button><i class="fa-brands fa-google-scholar"></i></button></a>
                <a href="https://github.com/SeewonChoi"><button><i class="fa-brands fa-github"></i></button></a>
                <a href=https://uk.linkedin.com/in/seewon-choi-86256119b><button><i class="fa-brands fa-linkedin-in"></i></button></a>
              </div>
            </div>
            <div class="right">
              <p>
                Hi, I'm a third year PhD student in Computer and Information Science at the University of Pennsylvania, 
                advised by <a href="https://www.cis.upenn.edu/~alur/">Rajeev Alur</a>. 
                <br><br>
                My research focuses on developing trustworthy AI models through neurosymbolic approaches, which combine neural learning with symbolic reasoning.
                I work on scaling these methods to complex, real-world scenarios and applying them in clinical settings.
                Currently, I am using these approaches for the early diagnosis of critical conditions, ensuring that predictions are grounded in clinical knowledge.     
                <br><br>
                Previously, I received my Bachelor's degree from the University of Cambridge, 
                where I worked on <a href="https://sites.google.com/site/myrep2rep/home">rep2rep</a> with <a href="https://www.cl.cam.ac.uk/~mj201/">Mateja Jamnik</a>.
              </p>
            </div>
          </div>

          <div class="hero-news">
            <h3>Updates</h3>
            <div class="news-block">
              <b>[Dec 25]</b> I will be presenting <a href=https://neurips.cc/virtual/2025/poster/116184>CTSketch</a> @ NeurIPS 2025
            </div>
            <div class="news-block">
              <b>[Dec 24]</b> I will be presenting <a href=https://neurips.cc/virtual/2024/poster/95230>ISED</a> @ NeurIPS 2024
            </div>
            <div class="news-block">
              <b>[Jun 24]</b> I will be attending PLDI 2024
            </div>
          </div>
          <div class="hero-news">
            <h3>Preprints</h3>
            <div class="news-block">
              <p style="margin-left: 15px;">&#x2022; <i>KardiaLM: A Foundation Model for ECG Comprehension</i> <a href="https://kardia-lm.github.io"> <i class="fa-solid fa-link"></i> </a></p>
              <p style="margin-left: 20px; font-size: small;">Neelay Velingker*, <b>S Choi</b>*, Mayank Keoliya*, Alaia Solko-Breslin*, Rajeev Alur, Mayur Naik, Eric Wong</p>
            </div>
            <div class="news-block">
              <p style="margin-left: 15px;">&#x2022; <i>Stable Prediction of Adverse Events in Medical Time-Series Data</i><a href="https://arxiv.org/abs/2510.14286"> <i class="fa-solid fa-file"></i> </a><a href="https://github.com/SeewonChoi/CAREBench"> <i class="fa-brands fa-github"></i> </a></p>
              <p style="margin-left: 20px; font-size: small;">Mayank Keoliya*, <b>S Choi</b>*, Rajeev Alur, Mayur Naik, Eric Wong</p>
            </div>
          </div>
          <div class="hero-news">
            <h3>Publications</h3>
            <div class="news-block">
              <p style="margin-left: 15px;">&#x2022; <i>CTSketch: Compositional Tensor Sketching for Scalable Neurosymbolic Learning</i>
              <a href="https://arxiv.org/abs/2503.24123"> <i class="fa-solid fa-file"></i> </a><a href="https://github.com/alaiasolkobreslin/CTSketch"><i class="fa-brands fa-github"></i> </a></p>
              <p style="margin-left: 20px; font-size: small;"><b>S Choi</b>*, Alaia Solko-Breslin*, Rajeev Alur, Eric Wong</p>
              <p style="margin-left: 20px; font-size: small;">NeurIPS 2025</p>
            </div>
            <div class="news-block">
              <p style="margin-left: 15px;">&#x2022; <i>Data Efficient Learning with Neural Programs</i> <a href="https://arxiv.org/abs/2406.06246"> <i class="fa-solid fa-file"></i> </a><a href="https://github.com/alaiasolkobreslin/ISED/tree/v1.0.0"> <i class="fa-brands fa-github"></i> </a><a href="https://debugml.github.io/neural-programs/"> <i class="fa-solid fa-link"></i> </a></p>
              <p style="margin-left: 20px; font-size: small;">Alaia Solko-Breslin, <b>S Choi</b>, Ziyang Li, Neelay Velingker, Rajeev Alur, Mayur Naik, Eric Wong</p>
              <p style="margin-left: 20px; font-size: small;">NeurIPS 2024</p>
            </div>
            <div class="news-block">
              <p style="margin-left: 15px;">&#x2022; <i>Generation of Visual Representations for Multi-Modal Mathematical Knowledge</i> <a href="https://ojs.aaai.org/index.php/AAAI/article/view/30586"> <i class="fa-solid fa-file"></i> </a><a href="https://github.com/danielraggi/rep2rep"> <i class="fa-brands fa-github"></i></a><a href="https://sites.google.com/site/myrep2rep/home"> <i class="fa-solid fa-link"></i></a></p>
              <p style="margin-left: 20px; font-size: small;">Lianlong Wu*, <b>S Choi*</b>, Daniel Raggi*, Aaron Stockdill, Grecia Garcia Garcia, Fiorenzo Colarusso, Peter C.H. Cheng, Mateja Jamnik</p>
              <p style="margin-left: 20px; font-size: small;">AAAI 2024 Demo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
