<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          <div class="row">
            <div class="left">
              <img src="img/profile.jpg">
              <h1 class="text-center">{{site.title}}</h1>

              <div class="hero-buttons">
                <a href="https://github.com/SeewonChoi"><button><i class="fa-brands fa-github"></i></button></a>
                <a href="mailto:seewon@seas.upenn.edu"><button><i class="fa fa-envelope"></i></button></a>
                <a href=https://uk.linkedin.com/in/seewon-choi-86256119b><button><i class="fa-brands fa-linkedin-in"></i></button></a>
                <a href=https://scholar.google.com/citations?user=TmtxOw0AAAAJ&hl=en&authuser=2><button><i class="fa-brands fa-google-scholar"></i></button></a>
              </div>
            </div>
            <div class="right">
              <p>
                Hi, I'm a PhD student in Computer and Information Science at University of Pennsylvania, 
                advised by Rajeev Alur. I am broadly interested in the intersection of logic and AI, 
                and I am currently working on neurosymbolic learning. <br> <br>

                I received my Bachelors from University of Cambridge, 
                where I worked on <a href="https://sites.google.com/site/myrep2rep/home">rep2rep</a> with Mateja Jamnik.
              </p>
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </div>




</div>
