<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          <div class="row">
            <div class="left">
              <img src="img/profile.jpg">
              <h1 class="text-center" style="margin-bottom: 0;">{{site.title}}</h1>
              <p style="margin-top:0; font-size: smaller;">최시원</p>
              <div class="hero-buttons">
                <a href="https://github.com/SeewonChoi"><button><i class="fa-brands fa-github"></i></button></a>
                <a href="mailto:seewon@seas.upenn.edu"><button><i class="fa fa-envelope"></i></button></a>
                <a href=https://uk.linkedin.com/in/seewon-choi-86256119b><button><i class="fa-brands fa-linkedin-in"></i></button></a>
                <a href=https://scholar.google.com/citations?user=TmtxOw0AAAAJ&hl=en&authuser=2><button><i class="fa-brands fa-google-scholar"></i></button></a>
              </div>
            </div>
            <div class="right">
              <p>
                Hi, I'm a PhD student in Computer and Information Science at the University of Pennsylvania, 
                advised by <a href="https://www.cis.upenn.edu/~alur/">Rajeev Alur</a>. 
                I am currently developing more efficient and scalable ways to compose black-box (symbolic) programs and neural networks 
                within neurosymbolic learning frameworks.
                I am also exploring the applications of these approaches in robust and interpretable clinical decision-making. <br> <br> 

                Previously, I received my Bachelor's degree from the University of Cambridge, 
                where I worked on <a href="https://sites.google.com/site/myrep2rep/home">rep2rep</a> with <a href="https://www.cl.cam.ac.uk/~mj201/">Mateja Jamnik</a>.
              </p>
            </div>
          </div>

          <div class="hero-news">
          <h3>Updates</h3>
          <div class="news-block">
            <b>[Apr 2025]</b>
            <p style="margin-left: 15px;">&#x2022; <i>CTSketch: Compositional Tensor Sketching for Scalable Neurosymbolic Learning</i> </br>
            <a href="https://arxiv.org/abs/2503.24123"> [paper] </a><a href="https://debugml.github.io/ctsketch/"> [blog] </a><a href="https://github.com/alaiasolkobreslin/CTSketch"> [code] </a></p>
            <p style="margin-left: 15px; font-size: small;"><b>S Choi</b>*, Alaia Solko-Breslin*, Rajeev Alur, Eric Wong</p>
          </div>
          <div class="news-block">
            <b>[Dec 2024]</b> I will be attending NeurIPS 2024
            <p style="margin-left: 15px;">&#x2022; <i>Data Efficient Learning with Neural Programs</i> <a href="https://arxiv.org/abs/2406.06246"> [paper] </a><a href="https://debugml.github.io/neural-programs/"> [blog] </a><a href="https://github.com/alaiasolkobreslin/ISED/tree/v1.0.0"> [code] </a></p>
            <p style="margin-left: 15px; font-size: small;">Alaia Solko-Breslin, <b>S Choi</b>, Ziyang Li, Neelay Velingker, Rajeev Alur, Mayur Naik, Eric Wong</p>
          </div>
          <div class="news-block">
            <b>[Jun 2024]</b> I will be attending PLDI 2024
          </div>
            <div class="news-block">
              <b>[Aug 2023]</b> I will be starting my PhD at UPenn
          </div>

        </div>
      </div>
    </div>
  </div>




</div>
